<h1>Movies list of 2015</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Realese year</th>
    <th>Lead Role</th>
    <th>Director</th>
    <th>Rating</th>
  </tr>
  </thead>


  <!--<input name="star1" type="radio" class="star"/>-->
  <!--<input name="star1" type="radio" class="star"/>-->
  <!--<input name="star1" type="radio" class="star"/>-->
  <!--<input name="star1" type="radio" class="star"/>-->
  <tbody id="sortable">
  <% @movies.each do |t| %>
      <tr id="<%=t.id%>" >
        <td><%= t.name %></td>
        <td><%= t.realese %></td>
        <td><%= t.actor%></td>
        <td><%= t.director%></td>
        <td><%= t.rating%><input type="range" min="0" max="7" value="0" step="0.5" id="backing2">
          <div class="rateit" data-rateit-backingfld="#backing2b"></div></td>
      </tr>
  <% end %>
  </tbody>
</table>


<% form_tag movies_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>


