<%= form_for :movie, url: movies_path do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :release, "Release Date" %><br>
  <%= f.text_field :release %>
   <%#= f.datepicker :release %>
  
</p>

<p>
  <%= f.label :Actor %><br>
  <%=f.text_field :actor %>
</p>
<p>
  <%= f.label :"Trailer Date" %><br>
  <%=f.text_field :trailerdate %>
</p>
<p>
  <%= f.label :Director %><br>
  <%=f.text_field :director %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
